.cart-movie {
    .wraper-cart-movie {
        &:hover .hover-cart {
            visibility: visible;
            background-color: rgba(0, 0, 0, 0.8);
        }

        .hover-cart {
            transition: all 0.3s ease-in-out;
        }
    }
}